.wrapper {
    margin-left: 30px;
    width: 97%;
    margin-top: 20px;
    .topDiv {
        width: 90%;
        padding-bottom: 15px;
        border-bottom: 1px solid #e4e7ec;
        h2 {
            font-weight: 600;
            font-size: 30px;
            color: #101828;
            text-align: left;
            @media (max-width: 770px) {
                font-size: 24px;
            }
        }
    }
    @media (max-width: 770px) {
        margin-left: 16px;
    }
}

.container {
    width: 100%;
    // margin: 0 auto;
    border: 1px solid #eaecf0;
    box-shadow: 0px 1px 2px 0px #1018280d;
    border-radius: 12px;
    padding: 0 20px;
    margin-top: 20px;
    height: 500px;
    overflow-y: auto;

    &::-webkit-scrollbar {
        width: 0;
    }
}

.topWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    h2 {
        font-size: 18px;
        font-weight: 500;
        line-height: 28px;
        text-align: left;
        color: #101828;
    }
    @media (max-width: 600px) {
        flex-direction: column;
        align-items: flex-start;
        h2 {
            margin-bottom: 10px;
        }
        .searchBar {
            width: 100%;
            input {
                width: 100%;
            }
        }
    }
}

.searchBar {
    width: 40%;
    input {
        outline: none;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        text-align: left;
        color: #667085;
        width: 100%;
        padding: 8px 12px;
        box-sizing: border-box;
        border: 1px solid #ccc;
        box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.0509803922);
        border-radius: 5px;
    }
}

.usersTable {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    font-weight: 500;
    margin-top: 20px;
    thead {
        tr {
            .thRight {
                text-align: right;
            }
        }
    }
    tbody {
        tr {
            transition: 0.1s;
            &:hover {
                background-color: #f9fafb;
            }
        }
    }
    th,
    td {
        padding: 10px;
        text-align: left;
        border-bottom: 1px solid #ccc;
        color: #101828;
        min-width: 130px;

        div {
            display: flex;
            .next {
                margin-left: 40px;
                background-color: #7f56d9;
                border: 2px solid;
                border-radius: 8px;
                width: 36px;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 36px;
                cursor: pointer;
                border-image-source: linear-gradient(180deg, rgba(255, 255, 255, 0.12) 0%, rgba(255, 255, 255, 0) 100%);
            }
        }
        p {
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
            text-align: left;
            color: #475467;
        }
        span {
            color: #475467;
            // font-weight: 400;
            font-size: 14px;
        }
    }

    th {
        color: #475467;
        font-size: 14px;
        font-weight: 500;
        line-height: 18px;
        text-align: left;
    }

    .status {
        padding: 5px 10px;
        border-radius: 5px;
        font-size: 12px;
        line-height: 18px;
        text-align: center;
    }

    .active {
        background-color: #ecfdf3;
        color: #067647 !important;
        border: 1px solid #abefc6 !important;
        padding: 2px 8px;
        border-radius: 12px;
        font-weight: 500;
    }

    .inactive {
        background-color: #fffaeb;
        color: #b54708 !important;
        border: 1px solid #fedf89 !important;
        padding: 2px 8px;
        border-radius: 12px;
        font-weight: 500;
    }

    .blocked {
        background-color: #fef3f2;
        color: #b42318 !important;
        border: 1px solid #fecdca !important;
        padding: 2px 8px;
        border-radius: 12px;
        font-weight: 500;
    }
    .onClarification {
        background-color: #f9f5ff;
        color: #6941c6 !important;
        border: 1px solid #e9d7fe !important;
        padding: 2px 8px;
        border-radius: 12px;
        font-weight: 500;
    }
    .icon {
        margin-right: 10px;
        cursor: pointer;
        margin-top: 3px;
    }

    tbody {
        .flexEnd {
            text-align: right;
            div {
                display: flex;
                justify-content: flex-end;
            }
        }
    }
}
.btnDate {
    height: 40px;
    width: 155px;
    background-color: white;
    border: 1px solid #d0d5dd;
    color: #344054;
    display: flex;
    outline: none;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 8px;
    font-weight: 600;
    font-size: 14px;
}
@media (max-width: 768px) {
    .wrapper {
        width: auto !important;
    }
    .flexEnd {
        text-align: center !important;
    }
    .searchBar {
        input {
            margin-top: 10px;
            width: 99% !important;
        }
    }
    .active, .onClarification {
        display: block;
        font-size: 13px !important;
    }
}
