.firstBlock {
    h2 {
        font-weight: 500 !important;
        color: #344054;
        font-size: 14px;
        span {
            color: #7f56d9;
        }
    }
    input {
        margin-top: 4px;
        border: 1px solid #d0d5dd;
        padding: 14px;
        font-size: 16px;
        font-weight: 400;
        outline: none;
        width: 100%;
        height: 44px;
        resize: none;
        border-radius: 8px;
    }
    textarea {
        margin-top: 4px;
        border: 1px solid #d0d5dd;
        padding: 14px;
        font-size: 16px;
        font-weight: 400;
        outline: none;
        width: 100%;
        height: 150px;
        resize: none;
        border-radius: 8px;
    }
    .finalBtn {
        width: 100%;
        cursor: pointer;
        display: flex;
        border: 0;
        background-color: #7f56d9;
        border-radius: 8px;
        justify-content: center;
        align-items: center;
        height: 48px;
        margin-top: 25px;
        font-size: 16px;
        font-weight: 600;
        color: #ffffff;
        svg {
            margin-right: 7px;
        }
    }
}
.btns {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    button {
        height: 44px;
        width: 49%;
        border-radius: 8px;
        font-size: 16px;
        font-weight: 600;
        border: 0;
        cursor: pointer;
    }
    .whiteBtn {
        border: 1px solid #d0d5dd;
        background-color: transparent;
        color: #344054;
    }
    .blueBtn {
        background-color: #7f56d9;
        color: #ffffff;
    }
}
.doubleInputs {
    // margin-top: x;
    display: flex;
    justify-content: space-between;
    width: 100%;
    .textareaDiv {
        width: 49%;
    }
}
.textareaDiv {
    margin-top: 10px;
}
.checkBoxes {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    transition: 0.3s;
    justify-content: space-between;
    margin-top: 10px;
    .checkBoxBlock {
        margin-top: 7px;
        width: 100%;
        min-height: 72px;
        border-radius: 12px;
        padding: 16px;
        border: 1px solid #e4e7ec;
        .topContainer {
            user-select: none;
            display: flex;
            align-items: center;
            width: 100%;
            justify-content: space-between;
            h5 {
                color: #344054;
                font-weight: 600;
                font-size: 14px;
            }
        }
        p {
            margin-top: 0 !important;
        }
    }
}
.warning {
    display: flex;
    background-color: white;
    border: 1px solid #d0d5dd;
    border-radius: 12px;
    margin-top: 10px;
    padding: 10px;
    gap: 10px;
    .wrapperWarning {
        h2 {
            color: #344054;
            font-weight: 600 !important;
            font-size: 14px;
        }
        p {
            font-size: 14px;
            font-weight: 400;
            line-height: 20px
        }
    }
}
.superAdminBlock {
    margin-top: 15px;
    display: flex;
    cursor: pointer;
    cursor: pointer;
    justify-content: space-between;
    width: 100%;
    .checkBOxic {
        margin-top: 3px;
        margin-right: 5px;
    }
    .rightDiv {
        width: 96%;
        h5 {
            color: #344054;
            font-weight: 600;
            font-size: 14px;
        }
        p {
            margin-top: 0 !important;
        }
    }
}
.active {
    border: 2px solid #9e77ed !important;
}
@media (max-width: 768px) {
    .checkBoxBlock {
        width: 99% !important;
    }
}
