.NavBar {
  width: 310px;
  background-color: #ffffff;
  border-right: 1px solid #e4e7ec;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  transition: .3s;
  h1 {
    font-size: 24px;
    font-weight: 600;
    color: #101828;
  }
  .items {
    margin-top: 15px;
  }
  @media (max-width: 880px) {
    position: fixed;
    z-index: 100;
    width: 80vw;
    left: -80vw;
  }
}
.item {
  margin-top: 7px;
  display: flex;
  border-radius: 6px;
  padding: 5px;
  align-items: center;
  width: 100%;
  height: 40px;
  transition: 0.2s;
  // justify-content: s;
  cursor: pointer;
  h2 {
    margin-left: 15px;
    color: #344054;
    font-weight: 600;
    font-size: 16px;
  }
  &:hover {
    background-color: rgb(240, 240, 240);
  }
}
.item2 {
  user-select: none;
  margin-top: 5px;
  overflow-y: hidden;
  min-height: 40px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  .svgWithText {
    display: flex;
  }
  .topDiv {
    border-radius: 6px;
    padding: 5px;
    transition: 0.2s;
    width: 100%;
    display: flex;
    height: 40px;
    align-items: center;
    justify-content: space-between;
    h2 {
      margin-left: 15px;
      color: #344054;
      font-weight: 600;
      font-size: 16px;
    }
    svg {
        margin-right: 5px;
    }
    &:hover {
      background-color: rgb(240, 240, 240);
    }
  }

  .subCategories {
    //   margin-top: 5px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
    opacity: 0;
    a {
      text-decoration: none;
      color: #344054;
    }
    .sub {
      text-decoration: none;
      height: 40px;
      width: 100%;
      display: flex;
      color: #344054;
      border-radius:6px;
      padding: 5px;
      align-items: center;
      transition: .2s;
      p {
        margin-left: 40px;
        font-weight: 600;
        font-size: 16px;
      }
      &:hover {
        background-color: rgb(240, 240, 240);
      }
    }
  }

  &.active .subCategories {
    max-height: 600px; // Set this to a value that can accommodate all subcategories
    opacity: 1;
  }
}

.settings {
  .itemSettings {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid #EAECF0;
    cursor: pointer;
    img {
      height: 24px;
      width: 24px;
      user-select: none;
    }
    p {
      margin-left: 8px;
    }
  }

  .admin {
    display: flex;
    margin-top: 25px;
    align-items: center;
    .circle {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #F2F4F7;
      img {
        height: 24px;
        width: 24px;
        user-select: none;
      }
    }
    .info {
      margin-left: 10px;
      display: flex;
      justify-content: space-between;
      width: 100%;
      align-items: center;
      div {
        h2 {
          font-size: 14px;
          font-weight: 500;
          line-height: 20px;
          text-align: left;
          color: #344054;
        }
        p {
          font-family: "Inter", sans-serif;
          font-size: 14px;
          font-weight: 400;
          line-height: 20px;
          text-align: left;
        }
      }
      img {
        width: 20px;
        height: 20px;
        cursor: pointer;
      }
    }
  }
}
.cross {
  display: none;
}
@media (max-width: 880px) {
  .cross {
    display: block;
    position: fixed;
    z-index: 100;
    svg {
      stroke: white;
    }
    right: 30px;
    top: 25px;
    cursor: pointer;
  }
  .active2 {
    left: 0;
    padding: 20px 20px;
  }
  .activeBg {
    z-index: 99;
    width: 100vw;
    position: fixed;
    height: 100vh;
    background-color: rgba(12, 17, 29, 0.7);
    opacity: 1;
    display: flex;
    justify-content: space-between;
  }
}