.topContainer {
    margin-top: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    h1 {
        color: #101828;
        font-weight: 600;
        font-size: 30px;
    }
    button {
        background-color: #D92D20;
        width: 138px;
        height: 36px;
        border: 2px solid;
        border-image-source: linear-gradient(180deg, rgba(255, 255, 255, 0.12) 0%, rgba(255, 255, 255, 0) 100%);
        border-radius: 8px;
        color: #FFFFFF;
        font-weight: 600;
        font-size: 14px;
        cursor: pointer;
    }
}
.DetailedApplication {
    width: 100%;
    h2 {
        font-weight: 600;
        font-size: 18px;
        color: #101828;
    }
    .subtitle {
        margin-top: 7px;
    }
    .alertBox {
        margin-top: 15px;
        padding: 16px;
        width: 100%;
        display: flex;
        border: 1px solid #D0D5DD;
        border-radius: 12px;
        svg {
            margin-right: 10px;
        }
        h3 {
            font-weight: 600;
            font-size: 14px;
            color: #344054;
        }
        p {
            font-weight: 400px;
            font-size: 14px;
            color: #475467;
        }
    }
}