.container {
    border-radius: 12px;
    border: 1px solid #EAECF0;
    background-color: #FFFFFF;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    width: 100%;
    margin: auto;
  }
  
  .wrapper {
    margin-top: 32px;
  }
  
  .input {
    display: none;
  }
  
  
  
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .icon {
    display: flex;
    width: 40px;
    height: 40px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border: 1px solid #EAECF0;
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  }
  
  .text {
    margin: 0;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    color: #475467;
    span {
      color: #6941C6;
      font-weight: 600;
    }
  }
  
  .hint {
  
    font-size: 12px;
    color: #475467;
  }
  
  .uploadList {
    margin-top: 20px;
  }
  
  .uploadItem {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 12px;
    border: 1px solid #EAECF0;
    background-color: #fff;
  }
  
  .fileInfo {
    display: flex;
    justify-content: space-between;
  }
  
  .fileName {
    font-weight: bold;
  
    h2 {
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 20px;
      color: #344054;
    }
  
    .descr {
      margin-top: 3px;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px;
      color: #475467;
    }
  }
  
  .fileStatus {
    color: #1890ff;
    div {
      display: flex;
      flex-direction: column;
      gap: 10px;
      cursor: pointer;
    }
  }
  
  .loader {
    margin-top: 10px;
    height: 4px;
    background-color: #f5f5f5;
    border-radius: 2px;
    overflow: hidden;
  }
  
  .progress {
    height: 100%;
    background-color: #1890ff;
  }
  