.checkBox {
    width: 16px;
    height: 16px;
    border-radius: 4px;
    border: 1px solid #E4E7EC;
    transition: .2s;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    svg {
      display: none;
    }
  }
  .active {
    border: 0;
    background-color: #7F56D9;
    svg {
      display: block;
    }
  }